*{
  margin:0px;
  padding:0px;
}
.wrapper {
  width: 80%;
  height: 1000px;
  background-color:;
  margin: 0px auto;
}
.heading{
  width: 100%;
  height: 90px;
  background-color: aqua;
  margin: 0px;
}
.heading_title{
  float: left;
  font-family: "Axure Handwriting";
  font-size: 30px;
}
heading_nav{
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  height: 30px;
  position: relative;
}
ul{
  margin-left: 40px;
  float: left;
  list-style-type: none;
  padding-top: 6px;
  padding-bottom: 6px;
}
li{
  padding-left: 10px;
  display: inline;
}
a:link,a:visited{
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 6px;
  text-decoration: none;
}
a:hover,a:active{
  color: crimson;
}




















