@charset "utf-8";
/* CSS Document */
.a1{
	margin-top: -50px;
	height: 60px;
}
.a2{
	line-height: 50px;
}
/*
.a1{
	padding-top:10px;
	padding-left:30px;
}
.a2{
	padding-top:6px;
}
.a3{
	background-color: #D9EDF7;
	outline: none;
	border-color:#D9EDF7;
}
.a4{
	padding-top:5px;
}
*/
.a5{
	height: 200px;
	background-color: #E5E9E6;
	border-radius:20px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
.a6{
	padding-left: 20px;
	padding-top:3px;
	paddng-bottom: 5px;
}
.a7{
	padding-top:10px;
	margin-right: 20px;
}
/*
.a8{
	background: #000000;
	margin-top:3px;
}
*/
.a9{
	background-color:#E5E9E6;
	border-color:#E5E9E6;
}
